body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: 200% 200%;
  animation: oceanFlow 50s ease infinite;
}

@keyframes oceanFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 95%;
  max-width: 1200px;
  height: auto;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container img {
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
  }
}

.container h1 {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 16px;
}
.container h1:hover {
  color: #33d9b2;
  transition: color 0.5s ease;
  transform: scale(1.05);
}

.container p {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 8px 0;
}

.container img {
  width: 400px;
  margin-top: 100px;
}
.container img:hover {
  transform: scale(1.1);
  transform-origin: bottom;
  transition: transform 0.3s ease;
  opacity: 90%;
}

@media (max-width: 700px) {
  .container img {
    margin-bottom: 0px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .container img {
    width: 300px;
    margin-bottom: 0px;
  }
}
.typewriter {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  width: fit-content;
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
  }
}

.cta-buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 20px;
  background-color: #33d9b2;
  color: #022c43;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #1b8eb7;
  color: #fff;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .cta-buttons {
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
  }

  .btn {
    width: 200px;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: center;
  }


}

